[Unit]
Description=Tor control port filter proxy
Documentation=https://tails.boum.org/contribute/design/

[Service]
Type=simple
ExecStart=python /usr/lib/onion-greeter

[Install]
WantedBy=multi-user.target

